global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
    timeout connect 5000
    timeout client  50000
    timeout server  50000
	errorfile 400 /etc/haproxy/errors/400.http
	errorfile 403 /etc/haproxy/errors/403.http
	errorfile 408 /etc/haproxy/errors/408.http
	errorfile 500 /etc/haproxy/errors/500.http
	errorfile 502 /etc/haproxy/errors/502.http
	errorfile 503 /etc/haproxy/errors/503.http
	errorfile 504 /etc/haproxy/errors/504.http

#-- Frontend HTTP 80 K3S --#
frontend front_k3s_80
    bind *:80
    default_backend back_k3s_80

#-- Frontend HTTP 3000 K3S --#
frontend front_k3s_3000
    bind *:3000
    default_backend back_k3s_3000

#-- Backend HTTP K3S --#
backend back_k3s_80
    balance roundrobin
{% for node in groups['worker'] %}
    server {{ node }} {{ hostvars[node].internal_ip }}:30080 check fall 3 rise 2
{% endfor %}

#-- Backend HTTP K3S --#
backend back_k3s_3000
    balance roundrobin
{% for node in groups['worker'] %}
    server {{ node }} {{ hostvars[node].internal_ip }}:30030 check fall 3 rise 2
{% endfor %}

